/* .button {
  background-color: transparent;
  color: white;
  border-radius: 6px;
  font-size: 0.9rem;
  height: 2.5rem;
  width: 7rem;
  border: 2px solid white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
